data/*
!data/UniverseInfo.csv

portfolios/*
!portfolios/Portfolio.Sample.csv
!portfolios/PerformanceData.Sample.csv
!portfolios/MarketSnapshot.csv
!portfolios/Potentials.csv

mfr/*
!mfr/2022-01-31.csv

apiKeys.py

__pycache__/
.spyproject/