dash==2.4.1
dash_bootstrap_components==0.13.0
dash_core_components==2.0.0
dash_html_components==2.0.0
dash_table==5.0.0
finta==1.3
matplotlib==3.3.4
Nasdaq_Data_Link==1.0.0
numpy==1.19.5
pandas==0.24.2
plotly==5.8.0
requests==2.26.0
scipy==1.6.3
yfinance==0.1.63
